.NavBar {
  background-color: #0080ff;
  border: 1px solid rgb(31, 31, 163);
}

.NavIcon {
  height: 100px;
  width: 100px;
}

.NavLink {
  padding: 5px;
  color: white;
}

.NavLink:hover {
  color: #ff0099;
}

.Active i {
  color: #ff0099;
}